<template>
  <client-only>
    <apexchart
      width="500"
      type="bar"
      :options="options"
      :series="series"
    />
  </client-only>
</template>

<script>
export default {
  name: 'BarChart',
  data () {
    return {
      options: {
        chart: {
          id: 'vuechart-example'
        },
        xaxis: {
          categories: [
            'Jan',
            'Feb',
            'Mar',
            'Apr',
            'May',
            'Jun',
            'Jul',
            'Aug',
            'Sep',
            'Oct',
            'Nov',
            'Dec'
          ]
        }
      },
      series: [{
        name: 'series-1',
        data: [55, 62, 89, 66, 98, 72, 101, 75, 94, 120, 117, 139]
      }]
    }
  }
}
</script>

<style scoped>

</style>
