<template>
  <div id="adx-title" v-text="string"/>
</template>

<script>
export default {
  name: 'Title',
  props: {
    string: {
      type: String,
      required: true
    }
  }
}
</script>

<style scoped lang="sass">
#adx-title
  font-family: 'Poppins', sans-serif
</style>
