// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
//@font-face {
//  font-family: 'Quicksand', sans-serif;
//  font-style: normal;
//  font-weight: 400;
//  font-display: swap;
//  src: url('https://fonts.googleapis.com/css2?family=Quicksand:wght@430&display=swap') format('truetype');
//}
//
$body-font-family: 'Quicksand',sans-serif;
$heading-font-family: 'Quicksand',sans-serif;
$font-size-root: 20px;
body {
  font-family: 'Quicksand',sans-serif;
}
@import '~vuetify/src/styles/styles.sass';
