<template>
  <v-app style="overflow: hidden">
    <v-main>
      <!-- <v-container fluid> -->
      <div class="mywrapper">
        <nuxt />
      </div>
      <!-- </v-container> -->
    </v-main>
  </v-app>
</template>

<script>
export default {};
</script>

<style>
.mywrapper {
  width: 500px;
  /* margin: 0; */
  /* background: yellow; */
  /* position: absolute; */
  /* top: 50%; */
  /* left: 13%; */
  /* margin-right: -50%; */
  /* transform: translate(-50%, -50%); */
}
@media screen and (max-width: 500px) {
  .mywrapper {
    width: 100%;
    left: 0%;
  }
}
</style>
