<template>
  <div style="width: 100%">
    <audio autoplay>
      <source src="~/assets/audio/akad.mp3" type="audio/mpeg" />
    </audio>
    <!-- <h1>asd</h1> -->
    <v-row class="">
      <v-col cols="12" class="pt-0 pb-0">
        <v-img
          :src="require('@/assets/images/left.png')"
          width="35%"
          class="float-left"
        ></v-img>
        <v-img
          :src="require('@/assets/images/right.png')"
          width="35%"
          class="float-right"
        ></v-img>
      </v-col>
      <v-col cols="12" class="pt-0 pb-0">
        <v-img
          :src="require('@/assets/images/bismillah.png')"
          width="38%"
          class="mr-auto ml-auto"
          style="margin-top: -10px"
        ></v-img>
      </v-col>
      <v-col cols="12">
        <div style="position: relative; z-index: 1">
          <h1
            class="playfair text-center"
            style="
              position: absolute;
              left: 0;
              right: 0;
              font-size: 250px;
              color: #f0ceba;
              margin-top: -80px;
            "
          >
            &
          </h1>
        </div>
        <div
          style="width: 70%; position: relative; z-index: 1"
          class="ml-auto mr-auto"
        >
          <p class="text-center w-600 playfair container-based gray ma-0">
            Muhammad
          </p>
          <p class="text-right w-600 playfair titleq gray margin-minus">
            Asrofilhuda
          </p>
        </div>
        <div style="position: relative; z-index: 1">
          <p
            class="text-center w-600 playfair super gray ma-0 mt-10"
            style="z-index: 2"
          >
            Yeni
          </p>
          <p class="text-center w-600 playfair titleq gray margin-minus">
            Kurniawati
          </p>
        </div>
      </v-col>

      <v-col>
        <p class="title montserrat w-600 gray text-center mt-7"><b>Rabu</b></p>
        <p
          class="title-big montserrat w-600 gray text-center margin-minus mb-0"
        >
          24 Feb 2021
        </p>

        <v-container class="ml-2 mr-2">
          <v-row>
            <v-col>
              <p class="titleq montserrat w-500 gray text-center">Ijab Qobul</p>
              <div>
                <p
                  class="title-big montserrat w-600 gray text-center margin-minus mb-0"
                >
                  08:00
                </p>
              </div>
            </v-col>
            <v-col>
              <p class="titleq montserrat w-500 gray text-center">Resepsi</p>
              <div>
                <p
                  class="title-big montserrat w-600 gray text-center margin-minus mb-0"
                >
                  11:00
                </p>
              </div>
            </v-col>
          </v-row>
          <v-divider class="ml-5 mr-5"></v-divider>
          <v-container>
            <p class="titleq montserrat w-500 gray text-center">
              Becici wonokerto turi
            </p>
            <p class="titleq montserrat w-500 gray text-center margin-minus">
              <a href="https://maps.app.goo.gl/PzR12XxG5LieGe2T8">lihat maps</a>
            </p>
          </v-container>
        </v-container>
      </v-col>
      <v-col cols="12" class="pl-10 pr-10">
        <div class="ijo" style="height: 100px; border-radius: 50px">
          <v-row
            justify="center"
            align="center"
            style="height: 100%"
            class="ml-7 mr-7"
          >
            <v-col class="pa-0 text-center">
              <p class="mb-0 title-big montserrat w-500 gray text-center">
                {{ days }}
              </p>
              <small class="text-center montserrat">hari</small>
            </v-col>
            <v-col cols="1" class="pa-0 text-center">:</v-col>
            <v-col class="pa-0 text-center">
              <p class="mb-0 title-big montserrat w-500 gray text-center">
                {{ hours }}
              </p>
              <small class="montserrat">jam</small>
            </v-col>
            <v-col cols="1" class="pa-0 text-center">:</v-col>
            <v-col class="pa-0 text-center">
              <p
                class="text-center mb-0 title-big montserrat w-500 gray text-center"
              >
                {{ minutes }}
              </p>
              <small class="montserrat">menit</small>
            </v-col>
          </v-row>
        </div>
      </v-col>
      <v-col>
        <v-img
          :src="require('@/assets/images/prewed.jpg')"
          class="mt-5 prewed"
        ></v-img>
        <div class="trapesium-container">
          <v-img
            :src="require('@/assets/images/bottom.png')"
            width="35%"
            class="float-right bottom-flower"
          ></v-img>
          <div class="float-left ml-10" style="width: 45%; padding-top: 130px">
            <p class="content montserrat w-500 gray text-justify">
              <span style="font-size: 20px">M</span>aha suci Allah yang telah
              mempertemukan kami dalam suatu ikatan suci pernikahan untuk
              mewujudkan janji suci putra-putri kami :
            </p>
          </div>
          <div
            style="width: 70%; position: relative; z-index: 1"
            class="ml-auto mr-auto"
          >
            <p class="text-center w-600 playfair container-based gray ma-0">
              Muhammad
            </p>
            <p class="text-right w-600 playfair titleq gray margin-minus">
              Asrofilhuda
            </p>
            <p
              class="w-500 montserrat content gray margin-minus mb-0"
              style="color: #e07070"
            >
              Putra Bp. Khojarudin dan Ibu Rukinah
            </p>
          </div>
          <div>
            <p class="text-center w-600 monsterrat title gray mt-5">x</p>
          </div>
          <div
            style="width: 70%; position: relative; z-index: 1"
            class="ml-auto mr-auto"
          >
            <p
              class="text-center w-600 playfair super gray ma-0 mt-5"
              style="z-index: 2"
            >
              Yeni
            </p>
            <p class="text-center w-600 playfair titleq gray margin-minus">
              Kurniawati
            </p>
            <p
              class="w-500 montserrat content gray margin-minus"
              style="color: #e07070"
            >
              Putra Bp. Suparjio dan Ibu Sugiyanti
            </p>
          </div>
        </div>
      </v-col>
      <v-col>
        <iframe
          width="100%"
          height="200"
          src="https://www.youtube.com/embed/bkMjpEixNrg"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
        <div class="container pa-5">
          <p class="text-center w-500 monsterrat content gray mt-5">
            Kami mengucapkan terimakasih atas kehadiran dan doa restu bapak /
            ibu / saudara / i sekalian.
          </p>
        </div>
        <v-divider class="mr-10 ml-5" style="width: 50%"></v-divider>
        <p
          style="font-size: 30px"
          class="gray montserrat mr-10 ml-10 mt-10 text-center w-600"
        >
          Our Moments
        </p>
        <p class="ml-5 mr-5 content gray montserrat">
          Foto bersama tamu dapat di lihat dan di download di :
        </p>
        <v-img
          :src="require('@/assets/images/prewed2.png')"
          width="100%"
          class="text-center"
          gradient="to top right, rgba(100,115,201,.33), rgba(25,32,72,.7)"
        >
          <v-row align="center" justify="center" style="height: 100%">
            <v-col>
              <v-btn
                rounded
                class="text-none montserrat"
                style="background-color: #e07070; color: white !important"
                dark
                :href="'https://drive.google.com/drive/folders/1AjBbiTV0yWxhLf0wtyZm05MYsNONUHvv?usp=sharing'"
                :target="'_blank'"
              >
                lihat semua
              </v-btn>
            </v-col>
          </v-row>
        </v-img>
      </v-col>
      <v-col class="pb-0">
        <div
          class="ijo small pl-5 pt-4 pb-4 gray mt-5"
          style="position: relative"
        >
          <p>Created with <v-icon class="redq">favorite</v-icon></p>
          <p class="margin-minus"></p>
          <p>by <a href="https://eunonian.com">eunonian.com</a></p>
          <v-fab-transition>
            <v-btn
              fixed
              bottom
              right
              class="pt-7 pb-7 text-none montserrat gray"
              style="margin-bottom: 5px; z-index: 99"
              @click="love()"
            >
              <v-icon class="redq mr-1">favorite</v-icon>
              Celebrate
            </v-btn>
          </v-fab-transition>
        </div>
      </v-col>
    </v-row>

    <!-- dialog -->
    <v-row justify="center">
      <v-dialog v-model="dialog" persistent max-width="290">
        <v-card>
          <v-card-title class="headline">
            <p class="gray title montserrat mb-0">Assalamu'alaikum</p>
            <v-spacer></v-spacer>
            <v-btn fab small @click="dialog = false">x</v-btn>
          </v-card-title>
          <v-img
            :src="require('@/assets/images/popup.png')"
            width="100%"
            class="text-center"
            style="margin-top: -30px"
          ></v-img>
          <div class="pa-5 text-left">
            <p class="montserrat gray content w-500">
              Hi! Semoga baik2 disana ...
            </p>
            <p class="montserrat gray content w-500">
              Jangan lupa datang ke hari bahagia kami ya! see you..
            </p>
          </div>
          <!-- <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="green darken-1" text @click="dialog = false">
              Disagree
            </v-btn>
            <v-btn color="green darken-1" text @click="dialog = false">
              Agree
            </v-btn>
          </v-card-actions> -->
        </v-card>
      </v-dialog>
    </v-row>
  </div>
</template>
<script>
import Card from "@/components/Card";
import BarChart from "@/components/BarChart";

export default {
  // layout: 'navigation',
  components: {
    Card,
    BarChart,
  },
  data() {
    return {
      initDate: null,
      days: 0,
      hours: 0,
      minutes: 0,
      dialog: true,
    };
  },
  methods: {
    start() {
      this.$confetti.start();
    },

    stop() {
      this.$confetti.stop();
    },

    love() {
      this.$confetti.start();
      this.$confetti.update({
        particles: [
          {
            type: "heart",
          },
          {
            type: "circle",
          },
        ],
        defaultColors: ["red", "pink", "#ba0000"],
      });
      setInterval(() => {
        this.$confetti.stop();
      }, 3000);
    },
    calculate() {
      // Find the distance between now and the count down date
      let now = new Date().getTime();
      var distance = this.initDate - now;
      // this.days = Math.floor((distance % (1000 * 60)) / 1000);
      this.days = Math.floor(distance / (1000 * 60 * 60 * 24));
      this.hours = Math.floor(
        (distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60)
      );
      this.minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    },
    countDown() {
      setInterval(() => {
        this.calculate();
        this.countDown();
      }, 60000);
    },
  },
  created() {
    this.initDate = new Date("Feb 24, 2021 08:00:00").getTime();
    this.calculate();
    this.countDown();
  },
};
</script>

<style lang="css">
.ijo {
  background-color: #cbd0aa;
}
.main-bg {
  background-color: #fffcf6;
}
.bottom-flower {
  margin-top: 80px;
}
.prewed {
  z-index: 1;
  position: relative;
}
.trapesium-container {
  background-image: url("~@/assets/images/trapesium_shaped.svg");
  background-size: cover;
  width: 100%;
  height: 700px;
  background-repeat: no-repeat;
  margin-top: -120px;
  z-index: 2;
  position: relative;
}
.playfair {
  font-family: "Playfair Display", serif;
}
.montserrat {
  font-family: "Montserrat Alternates", sans-serif !important;
}
.w-500 {
  font-weight: 500;
}
.w-600 {
  font-weight: 600;
}
.container-based {
  font-size: 3.5em;
}
.super {
  font-size: 50px;
}
.margin-minus {
  margin-top: -20px;
}
.title-big {
  font-size: 30px;
}
.titleq {
  font-size: 18px;
}
.content {
  font-size: 14px;
}
.small {
  font-size: 12px;
}
.title {
  font-size: 18px;
}
.gray {
  color: #545454;
}
a {
  color: #e07070 !important;
}
.redq {
  color: #e07070 !important;
}
</style>
